.topnav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  align-content: center;
  justify-content: center;
  z-index: 1;
  background: white;
  a {
    padding: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

//responsive toggle menu
@media screen and (max-width: 600px) {
  .topnav {
    justify-content: center;
    background: white;
    a {
      display: flex;
      flex-direction: row;
      justify-content: right;
      font-size: 0.8rem;
    }
  }
}
