#about {
  border-radius: 3rem;
  -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    width: 60vw;
    padding: 2rem;
    text-align: justify;
    font-size: 0.8rem;
    border-top-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
    background: rgb(68, 89, 100);

    -webkit-box-shadow: 20px 29px 37px -10px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 20px 29px 37px -10px rgba(0, 0, 0, 0.18);
    box-shadow: 20px 29px 37px -10px rgba(0, 0, 0, 0.18);

    p {
      color: white;
    }

    header {
      background: rgb(228, 2, 62);
      margin-bottom: 1rem;
      padding: 1rem;
      border-top-left-radius: 6vw;
      border-bottom-right-radius: 6vw;
      p {
        font-size: 0.8rem;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
    .wikipedia_link {
      text-decoration: none;
      background: rgb(228, 2, 62);
      color: white;
      font-weight: 200;
    }
  }
}
