#home {
  @import "./navbars/main_menu_top";
  @import "./navbars/vertical_icons_menu";
  text-align: center;
  .logo {
    color: rgb(247, 38, 71);
    padding: 1rem;
    text-decoration: none;
    font-weight: 100;
    background-color: rgb(232, 233, 234);
    border-radius: 5px;
    margin-left: 1.5rem;
  }
  .home_page_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    main {
      font-size: 10rem;
      font-weight: 900;
      text-shadow: 2px 2px rgb(247, 38, 71);
      p {
        display: none;
      }
    }
    aside {
      text-align: right;
      padding: 5rem 1rem;
      img {
        height: 40vh;
        @media only screen and (min-width: 768px) {
          height: 60vh;
        }
      }
      p {
        margin-top: -5rem;
        margin-bottom: -2vh;
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: -7px;
        @media only screen and (min-width: 768px) {
          font-size: 10rem;
        }
      }
      code {
        color: rgb(247, 38, 71);
        line-height: 1;
        font-size: 1.2rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 100;
      }
    }
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      main {
        display: none;
      }
    }
  }
}
