#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 10rem;
  .work_intro_text {
    width: 60vw;
    font-size: 0.7rem;
    text-align: justify;
    @media only screen and (min-width: 768px) {
      text-align: center;
      padding: 2rem;
      font-size: 0.9rem;
    }
  }
  article {
    width: 45vw;
    margin: 0 auto;
    border: 1px solid;
    padding: 2rem;
    margin-top: 1rem;
    border-top-left-radius: 9vw;
    border-bottom-right-radius: 9vw;
    -webkit-box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
    @media only screen and (min-width: 768px) {
      width: 30vw;
      padding: 5rem;
    }
    code {
      font-size: 0.9rem;
      font-weight: 100;
    }
  }
  .article_joke {
    background: rgb(228, 2, 62);
    color: white;
    border: 1px solid rgb(228, 2, 62);
  }
}

//classes for Js
.work_text {
  opacity: 0;
  transform: translateX(-20vw);
  transition: ease-in-out 1.2s all;
}
.work_text_appear {
  opacity: 1;
  transform: translateY(0);
}
