body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 100%;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #445964;
}

p,
a {
  margin: 0;
  padding: 0;
  color: #445964;
  z-index: -1;
}

a:hover {
  color: #f72647;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home,
#about,
#work,
#contact {
  height: 100vh;
  width: 100vw;
  z-index: -1000;
}

.button {
  font-size: 0.9rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border: dotted 1px;
  background-color: #f72647;
  color: white;
  -webkit-box-shadow: 0px 17px 25px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 17px 25px -6px rgba(0, 0, 0, 0.15);
}

.button:hover {
  color: black;
}

#home {
  text-align: center;
}

#home .topnav {
  position: fixed;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  background: white;
}

#home .topnav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #home .topnav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: white;
  }
  #home .topnav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    font-size: 0.8rem;
  }
}

#home .vertical-menu {
  height: 70vh;
  margin-top: 15vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 3.5rem;
  border-right: 0.5px solid #445964;
}

@media only screen and (min-width: 768px) {
  #home .vertical-menu {
    width: 4rem;
    padding: 0 2rem;
  }
}

#home .vertical-menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  #home .vertical-menu a {
    padding: 0.5rem 0.5rem;
  }
}

#home .vertical-menu a:active {
  color: rgba(9, 170, 143, 0.9);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .logo {
  color: #f72647;
  padding: 1rem;
  text-decoration: none;
  font-weight: 100;
  background-color: #e8e9ea;
  border-radius: 5px;
  margin-left: 1.5rem;
}

#home .home_page_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home_page_content main {
  font-size: 10rem;
  font-weight: 900;
  text-shadow: 2px 2px #f72647;
}

#home .home_page_content main p {
  display: none;
}

#home .home_page_content aside {
  text-align: right;
  padding: 5rem 1rem;
}

#home .home_page_content aside img {
  height: 40vh;
}

@media only screen and (min-width: 768px) {
  #home .home_page_content aside img {
    height: 60vh;
  }
}

#home .home_page_content aside p {
  margin-top: -5rem;
  margin-bottom: -2vh;
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: -7px;
}

@media only screen and (min-width: 768px) {
  #home .home_page_content aside p {
    font-size: 10rem;
  }
}

#home .home_page_content aside code {
  color: #f72647;
  line-height: 1;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

@media only screen and (min-width: 768px) {
  #home .home_page_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .home_page_content main {
    display: none;
  }
}

#about {
  border-radius: 3rem;
  -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about article {
  width: 60vw;
  padding: 1rem;
  text-align: justify;
  font-size: 0.75rem;
  border-top-left-radius: 6vw;
  border-bottom-right-radius: 6vw;
  background: #445964;
  -webkit-box-shadow: 20px 29px 37px -10px rgba(0, 0, 0, 0.18);
  box-shadow: 20px 29px 37px -10px rgba(0, 0, 0, 0.18);
}

@media only screen and (min-width: 768px) {
  #about article {
    width: 30vw;
    padding: 5rem;
    border-top-left-radius: 9vw;
    border-bottom-right-radius: 9vw;
  }
}

#about article p {
  color: white;
}

#about article header {
  background: #e4023e;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-top-left-radius: 6vw;
  border-bottom-right-radius: 6vw;
}

@media only screen and (min-width: 768px) {
  #about article header {
    padding: 3rem;
    font-size: 2rem;
  }
}

#about article header p {
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

#about article .wikipedia_link {
  text-decoration: none;
  background: #e4023e;
  color: white;
  font-weight: 200;
}

#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work article {
  width: 60vw;
  margin: 0 auto;
  border: 1px solid;
  padding: 2rem;
  margin-top: 5rem;
  border-top-left-radius: 9vw;
  border-bottom-right-radius: 9vw;
  -webkit-box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  #work article {
    width: 30vw;
    padding: 5rem;
  }
}

#work article code {
  font-size: 1.1rem;
  font-weight: 100;
}

#work .article_joke {
  background: #e4023e;
  color: white;
  border: 1px solid #e4023e;
}

#contact footer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact iframe {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin-top: 2rem;
  height: 30vh;
  width: 70vw;
  -webkit-box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -23px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  #contact iframe {
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */